


<table>
  <tr>
    <th>Account Number:</th>
    <td>#<%= @account.account_number %></td>

    <th>Balance</th>
    <td><%= number_to_currency @account.balance %> </td>
  </tr>
  <tr>
    <th>Debit</th>
    <td>
      <%= form_tag(controller: 'accounts', action: 'debit' ) do |f| %>
        <%= number_field_tag(:trans) %>
        <%= submit_tag("Submit") %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Credit</th>
    <td>
      <%= form_tag(controller: 'accounts', action: 'credit' ) do |f| %>
        <%= number_field_tag(:trans) %>
        <%= submit_tag("Submit") %>
      <% end %>
    </td>
  </tr>
</table>

<table>
  <tr>
    <th>
      Account History
    </th>
    <% @account.record_dates.each do |f| %>
  </tr>
  <tr>
    <td><%= f.strftime("%I:%M %p on %m/%d/%Y") %></td>
    <% end %>
  </tr>
</table>
