


<table>
  <tr>
    <th>Account Number:</th>
    <td>#<%= @account.account_number %></td>

    <th>Balance</th>
    <td><%= number_to_currency @account.balance %> </td>
  </tr>
  <tr>
    <th>Debit</th>
    <td>
      <%= form_tag(controller: 'accounts', action: 'debit' ) do |f| %>
        <%= number_field_tag(:trans) %>
        <%= submit_tag("Submit") %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Credit</th>
    <td>
      <%= form_tag(controller: 'accounts', action: 'credit' ) do |f| %>
        <%= number_field_tag(:trans) %>
        <%= submit_tag("Submit") %>
      <% end %>
    </td>
  </tr>
</table>

  <div class="row">
    <div class="col-sm-6">
        <h3>Account History</h3>
      <% @account.record_dates.each do |f| %>
        <span><%= f.strftime("%I:%M %p on %m/%d/%Y") %></span><br>
      <% end %>
    </div>
    <div class="col-sm-6">
        <h3>Transactions</h3>
      <% @account.records.each do |t| %>
        <span><%= t %></span><br>
        <% end %>
      </div>


  </div>


</table>
